@import 'src/base/styles/variables.scss';

.molecule__store {
  position: relative;
  margin-top: 4px;
}

.molecule__store__top-tag {
  position: absolute;
  left: 0;
  top: -4px;
}
.molecule__store__cashback {
  margin-top: 8px;
}
.molecule__store__description {
  margin-top: 8px;
}

@media screen and (min-width: $breakpoint-min-tablet) {
  .molecule__store {
  }
  
}

@media screen and (min-width: $breakpoint-min-desktop) {
}
