@import '~@shopback/design-tokens/web/globals/variables.scss';

/* fontsize */
$fontsize-10px: 0.625rem;
$fontsize-12px: 0.75rem;
$fontsize-14px: 0.875rem;
$fontsize-16px: 1rem;
$fontsize-18px: 1.125rem;
$fontsize-20px: 1.25rem;
$fontsize-24px: 1.5rem;
$fontsize-28px: 1.75rem;
$fontsize-32px: 2rem;
$fontsize-72px: 4.5rem;

/* Breakpoints */
$breakpoint-min-desktop: 769px;
$breakpoint-min-tablet: 481px;