@import '~@shopback/design-tokens/web/globals/variables.scss';

.button {
  background-color: $sbds-background-color-dark;
  color: #ffffff;
  font-size: 16px;
  border-radius: 18px;
  padding: 10px 20px;
  border-style: none;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: #0069d9;
}
