@import 'src/base/styles/variables.scss';

.atom__image {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-height: 100%;
  
  img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 8px;
  }
}

.atom__image__container {
  display: flex;
}

.atom__image--type-thumbnail-landscape {
  margin: auto;
  display: block;
}

@media screen and (min-width: $breakpoint-min-tablet) {
  .atom__image--type-thumbnail-landscape {
    max-width: 100%;
  }
}

@media screen and (min-width: $breakpoint-min-desktop) {
}
